version: "3.7"

volumes:
  prometheus_data: {} #сохраняем данные из prometheus
  grafana_data: {}  #сохраняем данные из grafana

services:
  cart:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - products
    networks:
      - shared_net
  products:
    image: gitlab-registry.ozon.dev/go/classroom-20/students/homework-draft/products:latest
    ports:
      - "8082:8082"
    networks:
      - shared_net
  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./internal/infra/metrics/prometheus:/etc/prometheus/
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    ports:
      - "9090:9090"
    networks:
      - shared_net
  grafana:
    image: grafana/grafana:latest
    volumes:
      - ./grafana_data:/var/lib/grafana
    ports:
      - "3000:3000"
    networks:
      - shared_net
  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - "16686:16686"
      - "4318:4318"
    environment:
    - COLLECTOR_OTLP_ENABLED=true
    - COLLECTOR_OTLP_HTTP_ENABLED=true
    - COLLECTOR_OTLP_HTTP_PORT=4318
    networks:
      - shared_net
networks:
  shared_net:
    external: true


